/* Solarized color scheme */
:root {
    --sol-base03:    #002b36;
    --sol-base02:    #073642;
    --sol-base01:    #586e75;
    --sol-base00:    #657b83;
    --sol-base0:     #839496;
    --sol-base1:     #93a1a1;
    --sol-base2:     #eee8d5;
    --sol-base3:     #fdf6e3;
    --sol-yellow:    #b58900;
    --sol-orange:    #cb4b16;
    --sol-red:       #dc322f;
    --sol-magenta:   #d33682;
    --sol-violet:    #6c71c4;
    --sol-blue:      #268bd2;
    --sol-cyan:      #2aa198;
    --sol-green:     #859900;
}

body {
    background-color: var(--sol-base3);
    color: var(--sol-base01)
              font-family: 'Dejavu Sans Mono', sans-serif;
}

h1 {
    color: var(--sol-cyan);
}

.bg-pfolio-nav {
    background-color: var(--sol-base01);
}

.bg-pfolio-foot {
    background-color: var(--sol-base01);
}

.personal-about .floated img {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 180px;
}

.personal-projects figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--sol-base1);
    overflow: hidden;
    position: relative;
}

.personal-projects figure::after {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.personal-projects #go::after {
    background-image: url(icons/Go.svg);
}

.personal-projects #emacs::after {
    background-image: url(icons/Emacs.svg);
}

.personal-projects #vim::after {
    background-image: url(icons/MacVim.svg);
}

.personal-projects #haskell::after {
    background-image: url(icons/haskell.svg);
}

.personal-projects #xconfig::after {
    background-image: url(icons/Config-Haskell.svg);
}

.personal-projects #shell::after {
    background-image: url(icons/Terminal.svg);
}

.personal-projects figure svg {
    padding-top: 10px;
    fill: var(--sol-blue);
    transition: .75s all ease-in-out;
    z-index: 1;

}

.personal-projects figure:hover svg {
    fill: var(--sol-red);
}

.personal-projects figure figcaption {
    padding-bottom: 10px;
}

.personal-projects a {
    color: var(--sol-violet);
}

.personal-projects a:hover {
    color: var(--sol-orange);
}

.personal-travel .travelcard {
    height: 263px;
}

.personal-travel .travelcard img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: none;
    text-align: center;
    transition: filter .3s ease-out;
    filter: blur(10px);
}

.personal-travel .travelcard img:hover {
    object-fit: cover;
    filter: blur(0px);
}

.personal-travel .travelcard .link
{
    position: absolute;
    display: block;
    width: 100%;
    height: 65px;
    text-align: center;
    color: var(--sol-base3);
    background-color: var(--sol-base03);
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.personal-travel .travelcard:hover .link
{
    opacity: 0.8;
}

.personal-contact .submit-btn {
    display: flex;
    justify-content: flex-end;
}

.personal-contact input, .personal-contact textarea {
    border-radius: 0px;
}

.personal-contact button {
    border: none;
    border-radius: 0px;
    background-color: var(--sol-cyan);
    color: var(--sol-base2);
    transition-duration: 0.4s;
}

.personal-contact button:hover {
    background-color: var(--sol-blue);
    color: var(--sol-base3);
}

.personal-footer .cl-text {
    color: var(--sol-base3);
}

.personal-footer .cl-link {
    color: var(--sol-yellow);
}

.personal-footer .cl-link:hover {
    color: var(--sol-orange);
}

.personal-footer .no-fd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.personal-footer .no-fd img {
    width: 100px;
    hight: auto;
}
